body {
    background-color: #fbfaff;
    font-family: 'Lato Bold', 'Lato Regular', 'Lato', 
}

.border{
    border-radius: 15px;
    border: 1px solid #ffffff;
    background-color: #fcfcfe;
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 4px 0px rgba(66, 83, 159, 0.35), inset 1px 2px 4px 0px rgba(66, 83, 159, 0);
}
 

.borderSelect{
    border-radius: 15px;
    border: 1px solid #ffffff;
    background-color: #fcfcfe;
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 4px 0px rgba(66, 83, 159, 0.35), inset 1px 2px 4px 0px rgba(66, 83, 159, 0);
}
.button {
    font-size: larger;
    border-radius: 15px;
    background-color: #646fcb;
    font-weight: 700;
    color: #ffffff;
  }
.avatar {
    width: 40vw; 
    height: 40vw; 
    text-align: center; 
    line-height:35vw; 
    font-size: 80px; 
    border-radius: 999px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}